html {
   background-color: black;
    text-align: center;
}
h1 {
    font-size: 40px;
    color: whitesmoke;
    
}
div {
    font-size: 25px;
    color: orange;
    font-weight: bold;
    margin: 20px 0;
}
button {
    padding: 20px;
    border-radius: 6px;
    background-color: gold;
    color: red;
    min-width: 40px;
    min-height: 30px;
}
button:hover {
    transform: scale(1.3);
    background-color: rgba(0, 0, 255, 0.631);
    color: beige;
}
.click {
    display: none;
}
.box {
    display: flex;
    gap: 16px;
    justify-content: center;

}

